---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Hisham Mahmood, a back-end software developer from Pakistan.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>Django</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I’m passionate about travelling, hiking, and swimming.
    </p>
    <p class="text-sm font-light">
      Even though I have preferred tools, I always pick the best one for the
      job. My aim is to find the right solution for each project. I stay open
      to new methods and technologies, understanding that success lies not
      just in the tools, but in the skill applied in using them.
    </p>
  </div>
</Card>
